// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

body {
    font-family: montserrat, sans-serif;
    font-size: 1rem;
    background: $body-bg;
    color: $text-color;
    // background-image: url("https://i.imgur.com/GUvZuDj.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

a {
    color: white;
    text-decoration: none;
    transition: ease-in-out 0.4s;

    &:hover {
        text-decoration: none;
        color: #D12D12;
        transition: ease-in-out 0.4s;
    }
}

h2 {
    font-weight: bold;
}

.btn {
    color: $text-color;
    transition: ease-in 0.3s;

    &:hover {
        color: black;
        background-color: white;
        transition: ease-in 0.3s;
    }
}

.navbar-laravel {
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.table {
    color: $text-color;

    th,
    td {
        border: none;
    }
}

.btn-primary {
    background-color: rgb(192, 157, 41);
    border-color: rgb(192, 157, 41);
}

.btn-danger {
    background-color: rgb(131, 0, 0);
    border-color: rgb(131, 0, 0);
}

.card {
    color: black;
}
