
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

body {
  font-family: 'MedievalSharp';
  // background-image: url("https://i.imgur.com/GUvZuDj.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.9;
}

h2 {
  font-weight: bold;
}

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}
